.feedbacks{
    text-align: center;

}
.feedbacks h3{
    font-size: 36px;
    color: #f2b636;
}
.clients-feedback-box{
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2), 0px 0px 20px rgba(0,0,0,0.4);
}
.clients-feedback{
    width: 100%;
    /* margin: 20px 200px; */
    /* padding: 20px 20px; */
   
}
.clients-feedback h1{
    font-size: 16px;
}