.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #154f89;
    padding: 80px 50px;
    min-height: min-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    right: 0;
   


    @media (max-width:800px){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 40px 30px;
    }
}
.links a{
    text-decoration-line: none;
    margin: 0 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.62px;
    font-size: 13px;

    @media (max-width: 1322px){
        margin: 0 10px;
        font-size: 10px;
    }
    @media(max-width: 1197px){
        margin: 0 10px;
        font-size: 10px;
    }

    @media (max-width: 863px){
        display: none;
    }
}

.burger-nav{
    display: none;

    @media (max-width:863px){
        display: flex;
    }
}
.logo-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-box img{
    width: 100%;
    margin-top: 10px;
}
.logo-box a{
    color: #fff;
    text-decoration-line: none;
    font-size: 30px;
    font-weight: 500;
    padding-left: 10px;

    @media (max-width:376px){
        padding-left: 10px;
    }
}
.header-link a:hover{
    border-bottom: 1px solid orange;
}